<h1>Editing Product</h1>

<%= render 'form', product: @product %>


<button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-new-window"></span>
    <%= link_to 'Show', @product %> 
</button>


<button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-backward"></span>
    <%= link_to 'Back', products_path %>
</button>
