<div class="container">
  <footer class="footer">
    <small>
      Copyright © <a href="enter in a link here">MyShopee</a>
      by <a href="enter in a link here">Sachin Ujjainkar</a>
    </small>
  </footer>
</div>

